.inner-div {
    display: inline-block;
    background-color: aqua;
    width: 200px;
    height: 250px;
    margin-right: 10px;

    .circle{
        position: relative;
        width: 70px;
        height: 70px;
        border-top: 3px solid purple;
        border-left: 3px solid red;
        border-bottom: 3px solid blue;
        border-right: 3px solid green;
        border-radius: 50%;
         
        p{
            position: absolute;
            // margin: auto
            top: 15%;
            left: 40%;
        }
        
    }
}
.Right_view > p{
    color: white;
}


#display{
    display: inline-block;
    // border: 1px solid blue;
}
.box{
    display: inline-block;
    // border: 1px solid red;
    width: 50px;
    background-color: purple;
    height: 600px;
    vertical-align: top;
}